
/*CSS*/
/*ligne hr*/
hr{
margin-top: 10%;
border-radius:50%;
height:4px;
width:50%;
background-color: #ff5a3d;
margin-bottom: 10%;
}
/*background*/
body{
background-attachment: fixed;
font-family: 'Alegreya Sans', sans-serif;
font-size: x-large;
background: linear-gradient(0.5turn,#FFFFFF, #fff7db, #FFFFFF);

}
h1{
	margin-bottom: 10%;
	font-family: 'Marcellus', serif;
	color: #ff5a3d;
	font-size: 3em;
}
h2{
	font-family: 'Inknut Antiqua', serif;
	font-size: xx-large;
	color: #3BA878;
	font-size: 1.7em;

}
nav{ 
	background-color: rgba(84,84,84,0.6);
}
.logo-nav{
	margin-right: 1200px;
	max-height: 40px;
	background-color: white;
	border-radius: 50%;
	border: solid 1px white;
}
.pictureBanniere{
	min-height: 75vh;
	max-height: 75vh;
	max-width: 125vw;
	min-width: 125vw;
	min-height:50vh;
}
.presentation{
	text-align : center;
}
.navbar-bar{
	margin-left: 0%
	margin-right:0%;
}
/*presentation*/
.espace{
	margin-bottom: 10%;
}
.text_presentation{
	text-align: justify;
}
 
/*CSS_alicia*/
/*activites*/

#activity{
	margin-bottom: 10%;
}
#activity h5{
	font-size: xx-large;
	margin-bottom: 5%;
}
#activity h2{
	text-align: center;
}
#activity img {
	max-height: 30vh; 
	min-height: 200px;
	min-width: 200px;
	border-radius: 100%;
}
#activity h3 {
	font-size: 1em;
	text-align: center;

}
#activity .modal-header img{
	max-height: 30vh;
	min-height: 30vh;
	border: 5px solid #ff9651;
}
#activity a{

	border-radius: 100%;
	margin-top: 150px;
	border: 5px solid #ff9651;
}
#activity h4 {
	position: absolute;
	margin-top: 25%;
	text-align: center;
	font-family: 'Marcellus', serif;
	font-size: 1.2em;
	color: #ff5a3d;

}
#activity br {
	margin-bottom: 5%;
}

#activity .modal-body{
	font-size: 1em;
	line-height: 1;
	padding: 5%;
}
#activity .btn-secondary{
	background-color:  #ff5a3d;
	border: none;
	margin-right: 40%;
}
#activity .close{
	color: #ff5a3d;
}


/*CSS_math*/
#outils h5 {
	font-size: x-large;
	font-family: 'Marcellus', serif;
	
}
.tittleoutils {
	text-align: center;
}
#outils .card{
	border-radius: 1%;
	background-color: rgba(255, 255, 255,0.5);
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 0px 12px 0 rgba(0,0,0,0.2);
}
.imgoutils 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    margin-bottom: 20px;
    border-radius: 100%;
}
.gymball
{
    background-color: #ffffff;
}
.waterbottle
{
    background-color: #ffffff;
}
.cardPresentation 
{
    display: block;
    margin-top: 4rem;
    border-color: transparent;
}
.tapisroulant
{
    background-color: #ffffff;
}
.ministepper
{
    background-color: #ffffff;
}
.titlecard 
{
    text-align: center;
    margin-top: 2rem;
}

/*CSS_helene*/

/*testimony*/

@media screen and (max-width: 600px) {
	.video {
		display: none;
	}
}

.signature{	
	color:grey;
	text-align: right;
}

#temoignages{
	margin-top:100px;
}
.section_temoignages{
	margin-top:100px;
}
.testimony_line1{
	margin-top: 30px;
}
.testimony_line2{
	margin-top: 50px;

}
.testimony{
	font-size: x-large;
	font-weight:bold;
	margin-bottom: 30px;
}

iframe{margin-top: 30px;}




/*#temoignages{
	background-color: rgba(255, 255, 255,0.5)
}*/
#temoignages .card{
	border-radius: 1%;
	background-color: rgba(255, 255, 255,0.3);
	margin-bottom: 30px;
}

/*contact*/
.button_message {
	text-align: center;
	border-radius: 100%;

}
.form-control{
	min-height: 25px;
}
form{
	line-height: 10px;
}

.form-group-textarea{
	margin-bottom: 5%;
}

/*footer*/
footer h2{
	color: white;
}
footer img{
	max-width: 5vw;
	max-height: 5vh;
}

footer a { 
	text-align: center;
	color: white; 
}

.card_footer{
    background-color: #939393;
	margin-top: 3%;
}

.legal_mention{
	color: white;
}

